# Assignment 13

In [1]:
from collections import namedtuple
from datetime import datetime
from dateutil import parser

In [2]:
car_tuple = namedtuple("Vehcile_data", "Summons_Number Plate_ID Registration_State Plate_Type Issue_Date Violation_Code Vehicle_Body_Type Vehicle_Make Violation_Description")

In [3]:
csv_path = "nyc_parking_tickets_extract.csv"

## Goal 1

In [4]:
def read_file(path):
    with open(path) as f:
        for i,j in enumerate(f):
            if i == 0:
                continue            
            li = j.strip("\n").split(",")
            li[4] = datetime.strptime(li[4], '%m/%d/%Y').date()
            li[5] = int(li[5])
            
            try:
                yield car_tuple(*li)
            except:
                pass

In [5]:
csv_tuples = read_file(csv_path)

In [6]:
next(csv_tuples)

Vehcile_data(Summons_Number='4006478550', Plate_ID='VAD7274', Registration_State='VA', Plate_Type='PAS', Issue_Date=datetime.date(2016, 10, 5), Violation_Code=5, Vehicle_Body_Type='4D', Vehicle_Make='BMW', Violation_Description='BUS LANE VIOLATION')

In [7]:
next(csv_tuples)

Vehcile_data(Summons_Number='4006462396', Plate_ID='22834JK', Registration_State='NY', Plate_Type='COM', Issue_Date=datetime.date(2016, 9, 30), Violation_Code=5, Vehicle_Body_Type='VAN', Vehicle_Make='CHEVR', Violation_Description='BUS LANE VIOLATION')

In [8]:
next(csv_tuples)

Vehcile_data(Summons_Number='4007117810', Plate_ID='21791MG', Registration_State='NY', Plate_Type='COM', Issue_Date=datetime.date(2017, 4, 10), Violation_Code=5, Vehicle_Body_Type='VAN', Vehicle_Make='DODGE', Violation_Description='BUS LANE VIOLATION')

In [9]:
next(csv_tuples)

Vehcile_data(Summons_Number='4006265037', Plate_ID='FZX9232', Registration_State='NY', Plate_Type='PAS', Issue_Date=datetime.date(2016, 8, 23), Violation_Code=5, Vehicle_Body_Type='SUBN', Vehicle_Make='FORD', Violation_Description='BUS LANE VIOLATION')

In [10]:
next(csv_tuples)

Vehcile_data(Summons_Number='4006535600', Plate_ID='N203399C', Registration_State='NY', Plate_Type='OMT', Issue_Date=datetime.date(2016, 10, 19), Violation_Code=5, Vehicle_Body_Type='SUBN', Vehicle_Make='FORD', Violation_Description='BUS LANE VIOLATION')

## Goal 2

In [11]:
car_tuples = read_file(csv_path)
vehicle_violation_dict = dict()

In [12]:
for i in car_tuples:
    brand = i.Vehicle_Make
    if brand not in vehicle_violation_dict:
        vehicle_violation_dict[brand] = 0
    vehicle_violation_dict[brand] += 1

In [14]:
vehicle_violation_dict

{'': 5,
 'ACURA': 12,
 'AM/T': 1,
 'AUDI': 12,
 'BMW': 34,
 'BSA': 1,
 'BUICK': 5,
 'CADIL': 9,
 'CHEVR': 76,
 'CHRYS': 12,
 'CITRO': 1,
 'DODGE': 45,
 'FIAT': 1,
 'FIR': 1,
 'FORD': 104,
 'FRUEH': 44,
 'GEO': 1,
 'GMC': 35,
 'GMCQ': 1,
 'HIN': 6,
 'HINO': 2,
 'HONDA': 106,
 'HYUND': 35,
 'INFIN': 13,
 'INTER': 24,
 'ISUZU': 10,
 'JAGUA': 3,
 'JEEP': 22,
 'KENWO': 5,
 'KIA': 8,
 'LEXUS': 26,
 'LINCO': 12,
 'MAZDA': 5,
 'ME/BE': 38,
 'MERCU': 4,
 'MI/F': 1,
 'MINI': 1,
 'MITSU': 11,
 'NISSA': 70,
 'NS/OT': 18,
 'OLDSM': 1,
 'PETER': 1,
 'PLYMO': 1,
 'PONTI': 1,
 'PORSC': 3,
 'ROVER': 5,
 'SAAB': 2,
 'SATUR': 2,
 'SCION': 2,
 'SMART': 3,
 'SPRI': 1,
 'STAR': 1,
 'SUBAR': 18,
 'TOYOT': 112,
 'UD': 1,
 'UPS': 1,
 'UTILI': 1,
 'VOLKS': 8,
 'VOLVO': 12,
 'WORKH': 2,
 'YAMAH': 1}